<div class="container">
<h1> {{ titleMain }}</h1>
<h2> {{ title }}</h2>


<div *ngIf="displayEdit == false">
<p> Name: {{ user.name }} </p>
<p> Age: {{ user.age }} </p>
<p style="color:{{ user.favoritecolor }}"> Favorite color</p>
<p> {{ user.birthday }} </p>
<p> Favorite caffeine: {{ user.caffeine }}</p>
</div> 

<div *ngIf="displayEdit == true">
  <form>

    <label for="name">Name: </label><br>
    <input type="text" name="name" id="name" [(ngModel)]="user.name" />
    <pre></pre>
    <label for="age">Age: </label><br>
    <input type="number" name="age" id="age" placeholder="age" [(ngModel)]="user.age"/>
    <pre></pre>
    <label for="favoritecolor">Favorite Color: </label><br>
    <input type="text" name="favoritecolor" id="favoritecolor" [(ngModel)]="user.favoritecolor"/>
    <pre></pre>
    <label for="birthday">Birthday: </label><br>
    <input type="date" name="birthday" id="birthday" [(ngModel)]="user.birthday"/>
    <pre></pre>

    <select name="caffeine" [(ngModel)]="user.caffeine">
      <option value="Water">Water</option>
      <option value="Energy Drink">Energy Drink</option>
      <option value="Coffee">Coffee</option>
      <option value="Tea">Tea</option>
    </select>

  </form>
</div>

<button (click)="toggleEdit()"> Toggle Edit </button>
